* {
  box-sizing: border-box;
}

#calculator {
  width: 470px;
  margin: auto;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

#button-container {
  display: grid;
  height: 300px;
  grid-template-areas:
    "adv-calc-keys    basic-calc-keys"
    "history          basic-calc-keys";
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr 1fr;
}

#basic-calc-keys {
  grid-area: basic-calc-keys;
  display: grid;
  grid-template-areas:
    "l-bracket   r-bracket   clear     clear-ele"
    "seven       eight       nine      divide"
    "four        five        six       multiply"
    "one         two         three     subtract"
    "zero        decimal     equals    add";
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

#adv-calc-keys {
  grid-area: adv-calc-keys;
  display: grid;
  grid-template-areas:
    "ans        mod      factorial   sqrt"
    "pi          log         ln        exponent"
    "e           sin         cos       tan";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

#history-button-area {
  grid-area: history;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#history {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: -240px;
  left: -30px;
  background-color: white;
  overflow-y: auto;
}

.history-item {
  display: flex;
  justify-content: space-between;
}

.history-item p {
  color: black;
}

.history-item p:hover {
  color: blue;
  cursor: pointer;
}

#display {
  display: flex;
  flex-direction: column;
  height: 80px;
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  border-radius: 5px;
}

#top-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30%;
}

#bottom-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70%;
  font-size: 2rem;
}

.guide-parenthesis {
  color: grey;
}

#l-bracket {
  grid-area: l-bracket;
}

#r-bracket {
  grid-area: r-bracket;
}

#mod {
  grid-area: mod;
}

#clear {
  grid-area: clear;
}

#clear-ele {
  grid-area: clear-ele;
}

#nine {
  grid-area: nine;
}

#eight {
  grid-area: eight;
}

#seven {
  grid-area: seven;
}

#six {
  grid-area: six;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#one {
  grid-area: one;
}

#zero {
  grid-area: zero;
}

#equals {
  grid-area: equals;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#subtract {
  grid-area: subtract;
}

#add {
  grid-area: add;
}

#factorial {
  grid-area: factorial;
}

#sqrt {
  grid-area: sqrt;
}

#pi {
  grid-area: pi;
}

#log {
  grid-area: log;
}

#ln {
  grid-area: ln;
}

#exponent {
  grid-area: exponent;
}

#e {
  grid-area: e;
}

#sin, #asin {
  grid-area: sin;
}

#cos, #acos {
  grid-area: cos;
}

#tan, #atan {
  grid-area: tan;
}

#ans {
  grid-area: ans;
}

#mod {
  grid-area: mod;
}
